RewriteEngine on
RewriteRule ^([0-9]+)/([0-9;]+) list.php?id=$1&limit=100&platform=$2
RewriteRule ^([0-9]+)/([0-9\.]+) list.php?id=$1&limit=100&platform=$2
RewriteRule ^([0-9]+) list.php?id=$1&limit=100
